extends layout

block content
	h1= title
	- if(message)
	p= message


	h2 Locations
	form(action="/locations/remove", method="post")
		- if(locations){
		ul
		each location in locations
			li
				b= location.name
				button(name="delete" class="delete" value=location._id) X		
		-}
	form(action="/locations/add", method="post")
		fieldset
			legend Add Location
			p
				label Location Name
					br
					input(name='name')
			p
				label Lat/long
					br
					input(name='latitude')
					input(name='longitude')
			p
				button(type='submit') Save
	h2 Items to buy
	form(action="/locations/remove", method="post")
		- if(shoppingListItems){
		ul
		each shoppingListItem in shoppingListItems
			li
				b= shoppingListItem.name 
				span(class="location")= " (" + shoppingListItem.location.map(function(location){ return location.name;}).join(", ") + ")"
				
		-}
	form(action="/listitems/add", method="post")
		fieldset
			legend Add Shopping List Item
			p
				label List Item Name
					br
					input(name='name')
			p
				label Location
					br
					select(name="location")
						option(value="") All
						- if(locations){
						each location in locations
							option(value= location.id)= location.name
						-}
		p
				button(type='submit') Save